
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }

  body {
    background-color: #C4EBF9;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2.5rem;
    padding: .8em .5em;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  header {
    background-color: #01BFB1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    margin-top: .8em;
    flex-grow: 10;
  }

  aside {
    background-color: #6EDA6D;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  article {
    background-color: #FBB04C;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }

  .image-container {
    display: flex;
    justify-content: space-between;
    margin: .1em .6em .6em;
    

  }
 

  .image {
    background-color: #FBD249;
    width: 31%;
    padding: 2.5em 1em;
  }

  .text-center {
    text-align: center;
  }
